# https://yandex.ru/dev/disk/api/concepts/quickstart.html#quickstart__oauth
disk_api:
  app_id: your_app_id
  oauth_token: your_oauth_token

system:
    tasks_pool_size: 10
    read_file_chunk_size: 4194304 # bytes

sync:
   -
     local_dir: /home/somefiles
     disk_dir: /somefiles
#     regexes: [.*\.txt$, .*\.py$]
     recursive: true
     ignore_directories: true

ignore_regexes:
    - .*node_modules
    - .*\.git
    - .*\.idea
    - .*\.vscode
    - .*\.mypy_cache
    - .*__pycache__
    - .*\.pytest_cache
    - .*\.pyc$
    - .*\.log$
    - .*\~\$?$
    - .*\.swp$
    - .*\.swx$
